
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="stylesheet" th:href="@{/webjars/bootstrap/4.6.0/css/bootstrap.min.css} "/>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-success">
    <div class="container">
        <div class="collapse navbar-collapse" id="navbarNav" >
            <ul class="navbar-nav mr-auto">
                <br />
                <br />
                <h4 class="mb-4">TO DO's</h4>
            </ul>
            <form action="#" th:action="@{/logout}" method="post">
                <input type="submit" class="btn btn-link p-0 mt-1" value="Logout">
            </form>
        </div>
    </div>
</nav>
<div class="container" style="margin-top: 120px;">
    <div class="row mb-2">
        <div class="col-6">
            <h3>TO DO's</h3>
        </div>
        <div class="col-6 text-right">
            <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#createToDo">Add To Do</button>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <table class="table table-bordered">
                <thead class th:bgcolor="primary">
                <tr>
                    <th style="text-align:center">Task Id</th>
                    <th style="text-align:center">Task Name</th>
                    <th style="text-align:center">Task Description</th>
                    <th style="text-align:center">Created On</th>
                    <th style="text-align:center">Action</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="todo : ${todos}">
                    <td style="text-align:center"><span th:text="${todo.id}"></span></td>
                    <td style="text-align:center"><span th:text="${todo.name}"></span></td>
                    <td style="text-align:center"><span th:text="${todo.description}"></span></td>
                    <td style="text-align:center"><span th:text="${todo.createdOn}"></span></td>
                    <td style="text-align:center">
                        <a th:href="@{/todo/edit/{id}(id=${todo.id} )}">Edit</a> |
                        <a th:href="@{/todo/delete/{id}(id=${todo.id})}">Delete</a>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="row">
        <div class="col">
            <span>Showing 1 out of 1 record/s</span>
        </div>

        <div class="col">
            <nav aria-label="Page navigation example">
                <ul class="pagination float-right">
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                            <span class="sr-only">Previous</span>
                        </a>
                    </li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item">
                        <a class="page-link" href="#" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                            <span class="sr-only">Next</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
<script src="/webjars/jquery/3.5.1/jquery.min.js"></script>
<script src="/webjars/bootstrap/4.6.0/js/bootstrap.min.js"></script>
</body>
</html>
<html xmlns:th="http://www.thymeleaf.org">
<div class="modal fade" id="createToDo" tabindex="-1" role="dialog" aria-labelledby="createModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header bg-success">
                <h5 class="modal-title" id="createModalLabel">Create To Do</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form action="#" th:action="@{/todo/insert}" th:object="${toDo}" method="post">
                <div class="modal-body">
                    <div class="form-group">Task Name</label>
                        <input type="text" class="form-control" th:field="*{name}" id="names" placeholder="Name">
                    </div>
                    <div class="form-group">
                        <label for="descriptions">Task Description</label>
                        <input type="text" class="form-control" th:field="*{description}" id="descriptions" placeholder="Description">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                    <input type="submit" class="btn btn-primary" value="Add"></input>
                </div>
            </form>
        </div>
    </div>
</div>